//- =========================================================================================
	File Name: card-actions.jade
	Description: All cards have actions like minimize, refresh, expand, close/cancel.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

block pageVars
	- var pageTitle    = "Card Actions"
	- var pageSubTitle = "Card Actions Options"
	- var description  = "All cards have actions like minimize, refresh, expand, close/cancel for each card in card header."
	- var activeMenu   = "card-actions"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"Card Actions"}])

//- Include page content in page block
append content
	include ../contents/card-actions.html