//- =========================================================================================
	File Name: chartjs-bar-charts.jade
	Description: chartjs bar chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
block pageVars
	- var pageTitle    = "Chartjs Bar Chart"
	- var pageSubTitle = "chartjs bar chart examples"
	- var description  = "A diagram in which the numerical values of variables are represented by the height or length of lines or rectangles of equal width."
	- var activeMenu   = "chartjs-bar-charts"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Chartjs"}, {name:"Bar Chart"}])

//- Include page content in page block
append content
	include ../contents/chartjs-bar-charts.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='../../../app-assets/vendors/js/charts/chart.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/bar.js', type='text/javascript')
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/bar-stacked.js', type='text/javascript')
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/bar-multi-axis.js', type='text/javascript')
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/column.js', type='text/javascript')
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/column-stacked.js', type='text/javascript')
	script(src='../../../app-assets/js/scripts/charts/chartjs/bar/column-multi-axis.js', type='text/javascript')