//- =========================================================================================
	File Name: component-list-group.jade
	Description: List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

block pageVars
	- var pageTitle = "List Group"
	- var pageSubTitle = "It's flexible and powerful component"
	- var description  = "List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content."
	- var activeMenu = "component-list-group"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"List Group"}])

//- Include page content in page block
append content
	include ../contents/component-list-group.html