//- =========================================================================================
	File Name: component-buttons-extended.jade
	Description: Buttons with built-in loading indicators, effectively bridging the gap between action and feedback.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

block pageVars
	- var pageTitle = "Buttons Extended"
	- var pageSubTitle  = "Buttons with built-in loading indicators"
	- var description  = "Extended buttons effectively bridging the gap between action and buttons."
	- var activeMenu = "component-buttons-extended"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"Buttons Extended"}])

//- Include page content in page block
append content
	include ../contents/component-buttons-extended.html