//- =========================================================================================
	File Name: recover-password.jade
	Description: Recover user forgot password account details on mail.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

block pageVars
	- var pageTitle    = "Recover Password"
	- var pageSubTitle = "Recover user account password"
	- var description  = "Recover user forgot password account details on mail."
	- var activeMenu   = "recover-password"

extends template

append pageConfig
	- var contentLayout = '1-column'
	- var blankPage = true //- OPTIONS: true, false
	- var navbarFixed = false

//- Include page content in page block
append content
	include ../contents/recover-password.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='../../../app-assets/vendors/js/forms/validation/jqBootstrapValidation.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src='../../../app-assets/js/scripts/forms/form-login-register.js', type='text/javascript')