//- =========================================================================================
	File Name: template.jade
	Description: A file to decide which template to generate.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent

	NOTE: Uncomment include code of template which you would like to generate, and comment other includes.
	You can create your own template(i.e custom-template) and include here to generate it.
	==========================================================================================-//

//- Pre defined template include condition  [JADE extends is not workign in include :( ]

//-Vertical menu templates (Semi Light Layout)
//- include ../templates/vertical-menu-template

//-Vertical menu templates-semi-dark (Semi Drak Layout)
//- include ../templates/vertical-menu-template-semi-dark

//-Vertical menu templates-nav (Drak Nav Layout)
//- include ../templates/vertical-menu-template-nav-dark

//-Vertical menu templates-light (Light Layout)
//- include ../templates/vertical-menu-template-light

//-Vertical overlay menu templates (Semi Light Layout)
//- include ../templates/vertical-overlay-menu-template

//-Vertical menu template modern (Semi Dark Layout)
//- include ../templates/vertical-modern-menu-template

//-Horizontal menu templates (Classic Layout)
//- include ../templates/horizontal-menu-template

//-Horizontal menu templates (Drak Nav Layout)
include ../templates/horizontal-menu-template-nav

//-You can create your own template(i.e custom-template) and include here to generate it.

//-Your custom template templates
//-include ../templates/custom-template