//- =========================================================================================
	File Name: user-cards.jade
	Description: User Cards
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	=========================================================================================-//

block pageVars
	- var pageTitle    = "User Cards"
	- var pageSubTitle = "User custom cards types"
	//- var description  = ""
	- var activeMenu   = "user-cards"

extends template

append breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Users"}, {name:"User Cards"}])

//- Include page content in page block
append content
	include ../contents/user-cards.html

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href='../../../app-assets/css#{rtl}/pages/users.css')