/*=========================================================================================
	File Name: main-menu.scss
	Description: Styles for menu components, main navigation and menu itself.
	----------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Theme
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

